<mat-toolbar color="primary">
  Valida Director Vicerrector
  </mat-toolbar>

  <div class="container">

    <!--<mat-form-field fxFlex="40" [floatLabel]="'auto'">
      <mat-label>Periodo</mat-label>
      <mat-select formControlName="TipoAyuda" [required]="esRequerido('Periodo')">
        <mat-option *ngFor="let periodo of catalogoPeriodo" [value]="periodo.idPeriodo">{{ periodo.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="efValidarDirectorVicerrector.Descripcion">{{ efValidarDirectorVicerrector.Descripcion }}</mat-error>
    </mat-form-field>-->
    <div fxLayout="column">

      <div fxFlex fxLayout="row"  fxLayoutAlign="space-around center">
        <form [formGroup]="formularioValidaciones" (ngSubmit)="onSubmit()">
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1.1rem grid">

            <mat-form-field fxFlex="100" [floatLabel]="'auto'">
              <mat-label>Periodo</mat-label>
              <mat-select formControlName="Descripcion" [required]="esRequerido('Descripcion')">
                <mat-option value="AGOSTO-DICIEMBRE 2022" >AGOSTO-DICIEMBRE 2022</mat-option>
                <mat-option value="ENERO-JUNIO 2022">ENERO-JUNIO 2022</mat-option>
                <mat-option value="AGOSTO-DICIEMBRE 2021">AGOSTO-DICIEMBRE 2021</mat-option>
                <mat-option>ENERO-JUNIO 2021</mat-option>
                <mat-option>AGOSTO-DICIEMBRE 2020</mat-option>
                <mat-option>ENERO-JUNIO 2020</mat-option>
                <mat-option>AGOSTO-DICIEMBRE 2019</mat-option>
                <mat-option>ENERO-JUNIO 2019</mat-option>
                <mat-option>AGOSTO-DICIEMBRE 2018</mat-option>
                <mat-option>ENERO-JUNIO 2018</mat-option>
              </mat-select>
              <mat-error *ngIf="efValidarDirectorVicerrector.Descripcion">{{ efValidarDirectorVicerrector.Descripcion }}</mat-error>
            </mat-form-field>
          </div>
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="space-around center">
             <button [disabled]="formularioValidaciones.invalid" (click)="disteClick()" mat-flat-button color="primary">Buscar</button>
          </div>
        </form>
      </div>
    </div>
    <div fxLayout="column">
      <!--<div *ngIf="resultadosPartidasExtraordinarias.length > 0" fxFlex fxLayout="column" fxLayoutAlign="center">-->
        <div><!--Esta Línea se va a quitar y se va a dejar la de arriba-->
        <!-- Inicia tabla para mostrar los datos -->
        <p>A continuación se listan los resultados obtenidos de la consulta.</p>
        <div>
          <tabla-dinamica
          [resultadosPartidasExtraordinarias]="resultadosPartidasExtraordinarias"
          [pageSizeOptions]="pageSizeOptions"
          [displayedColumns]="displayedColumnsGrupo"
          [tamanoTabla]="tamanoTabla" >
          </tabla-dinamica>
        </div>
        <!-- Finaliza tabla -->
      </div>
      <div *ngIf="sinResultados && clickBusqueda" fxFlex fxLayout="column" fxLayoutAlign="center center">
        <h2>Sin resultados</h2>
      </div>

    </div>
    <button [routerLink]="['/inicio']"  type="submit" mat-flat-button color="primary">Cancelar</button>
    <div fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </div>

</div>
