<div fxLayout="row" fxLayoutAlign="end center" >
  <button matTooltip="cerrar" cdkFocusInitial mat-button mat-flat-button mat-dialog-close="false" color="primary">x</button>
</div>



<div class="container">
<div fxLayout="column" >
  <div fxLayout="column">
    <!--Radio buttons----------------------------------->
    <div class="containerIn">
      <h2><strong>Tipo de partida: </strong>{{this.data.valor.nombrePartida}}</h2>
    </div>
    <!--Radio buttons----------------------------------->

<!-------------------------------------------------------------------------------------------------------->
    <div class="containerIn">

      <mat-divider></mat-divider>
      <br>
      <!--Contenedor interno completo-->
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
        <!--Columna de la izquierda-->
        <div fxLayout="column" fxFlex="50">

          <p><strong>Solicitada por: </strong>{{this.data.valor.nombrePersonaCaptura}}</p>
          <mat-divider></mat-divider>
          <br>

          <p><strong>Descripción: </strong>{{this.data.valor.descripcion}}</p>
          <mat-divider></mat-divider>
          <br>
          <p><strong>Proveedor: </strong>{{this.data.valor.proveedor}}</p>
          <mat-divider></mat-divider>
          <br>
          <p><strong>Justificación: </strong>{{this.data.valor.justificacion}}</p>
          <mat-divider></mat-divider>
          <br>
          <p><strong>¿Es equipo de computo? </strong>{{this.data.valor.equipoComputo ==1 ? 'si' : 'no'}}</p>
          <mat-divider></mat-divider>

        </div>


        <!--Columna de la derecha-->
        <div fxLayout="column" fxFlex="40">
          <div fxLayout="column">
            <p><strong>Importe con IVA incluido: </strong>{{this.data.valor.costo | currency}}</p>
          </div>
          <mat-divider></mat-divider>
          <!--Detalle por conceptos-->
          <br>
          <ng-container *ngIf="this.conceptosDyMontos.length>0">
          <mat-card>
            <i>Detalle por concepto</i>

            <!--Meter en un ciclo para desglosar cada concepto-->
            <div fxLayout="row" *ngFor="let elem of this.conceptosDyMontos">
              <div fxLayout="column">
                <br>
                <p><strong>Concepto: </strong>{{elem.concepto}}</p>
                <p><strong>Monto: </strong> {{elem.monto | currency}}</p>

              </div>

            </div>
          </mat-card>
        </ng-container>


        </div>
      </div>

    </div>

    <!--||Seguimiento||||||||||||||||||||||||||||-->

    <div fxLayout="column">
      <br>
      <mat-divider></mat-divider>
      <p><strong>Seguimiento a la solicitud</strong></p>
      <ng-container>
        <p><strong>Director / Vicerrector</strong></p>
        <p *ngIf="this.data.valor.validaDirectorVicerrector == 1">Aprobada por: {{this.data.valor.nombreValidaDirectorVicerrector}}</p>
        <p *ngIf="this.data.valor.validaDirectorVicerrector == 2">Rechazada por: {{this.data.valor.nombreValidaDirectorVicerrector}}</p>
        <p *ngIf="this.data.valor.comentarioRechazoDirectorVicerrector || this.data.valor.validaDirectorVicerrector == 2">Motivo del rechazo: {{this.data.valor.comentarioRechazoDirectorVicerrector}}</p>
        <ng-container>

          <span *ngIf="this.data.valor.validaDirectorVicerrector == 1" class="material-icons green-icon" matTooltip="Aprobado"><!--APROBADO-->
            thumb_up
          </span>
          <span *ngIf="this.data.valor.validaDirectorVicerrector == 2" class="material-icons red-icon" matTooltip="Rechazado"><!--RECHAZADO-->
            thumb_down
          </span>
          <span *ngIf="this.data.valor.validaDirectorVicerrector == 0" class="material-icons blue-icon" matTooltip="En proceso de revisión"><!--EN PROCESO DE REVISIÓN-->
            hourglass_top
          </span>
      </ng-container>

      </ng-container>
      <br>
      <mat-divider></mat-divider>
      <ng-container>
        <p><strong>Rector / Director administrativo</strong></p>
        <p *ngIf="this.data.valor.validaRectorDirAdmin == 1">Aprobada por: {{this.data.valor.nombreValidaRectorDirAdmin}}</p>
        <p *ngIf="this.data.valor.validaRectorDirAdmin == 2">Rechazada por: {{this.data.valor.nombreValidaRectorDirAdmin}}</p>
        <p *ngIf="this.data.valor.comentarioRechazoRectorDirAdmin || this.data.valor.validaRectorDirAdmin == 2">Motivo del rechazo: {{this.data.valor.comentarioRechazoRectorDirAdmin}}</p>
        <ng-container>

          <span *ngIf="this.data.valor.validaRectorDirAdmin == 1" class="material-icons green-icon" matTooltip="Aprobado"><!--APROBADO-->
            thumb_up
          </span>
          <span *ngIf="this.data.valor.validaRectorDirAdmin == 2" class="material-icons red-icon" matTooltip="Rechazado"><!--RECHAZADO-->
            thumb_down
          </span>
          <span *ngIf="this.data.valor.validaRectorDirAdmin == 0" class="material-icons blue-icon" matTooltip="En proceso de revisión"><!--EN PROCESO DE REVISIÓN-->
            hourglass_top
          </span>
      </ng-container>
      </ng-container>


      <ng-container *ngIf="this.data.valor.equipoComputo == 1">
        <br>
        <mat-divider></mat-divider>
        <p><strong>Dirección de Tecnologías de la Información (DTI)</strong></p>
        <p *ngIf="this.data.valor.validaDTI == 1">Aprobada por: {{this.data.valor.nombreValidaDTI}}</p>
        <p *ngIf="this.data.valor.validaDTI == 2">Rechazada por: {{this.data.valor.nombreValidaDTI}}</p>
        <p *ngIf="this.data.valor.comentarioRechazoDTI || this.data.valor.validaDTI == 2">Motivo del rechazo: {{this.data.valor.comentarioRechazoDTI}}</p>
        <ng-container >

          <span *ngIf="this.data.valor.validaDTI == 1" class="material-icons green-icon" matTooltip="Aprobado"><!--APROBADO-->
            thumb_up
          </span>
          <span *ngIf="this.data.valor.validaDTI == 2" class="material-icons red-icon" matTooltip="Rechazado"><!--RECHAZADO-->
            thumb_down
          </span>
          <span *ngIf="this.data.valor.validaDTI == 0 || this.data.valor.validaDTI == null" class="material-icons blue-icon" matTooltip="En proceso de revisión"><!--EN PROCESO DE REVISIÓN-->
            hourglass_top
          </span>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="this.data.valor.aplicada" >
        <br>
      <mat-divider></mat-divider>
        <p><strong>Estatus compras</strong></p>
        <p *ngIf="this.data.valor.aplicada == 1">Atendida por: {{this.data.valor.nombrequienAtendio}}</p>
        <p *ngIf="this.data.valor.aplicada == 2">Revisada por: {{this.data.valor.nombrequienAtendio}}</p>

        <span *ngIf="this.data.valor.aplicada == 1" class="material-icons green-icon" matTooltip="Aprobado"><!--APROBADO-->
          thumb_up
        </span>
        <span *ngIf="this.data.valor.aplicada == 2" class="material-icons red-icon" matTooltip="En proceso de concluir"><!--POR CERRAR-->
          pause
        </span>
        <span *ngIf="this.data.valor.aplicada == 0" class="material-icons blue-icon" matTooltip="En proceso de revisión"><!--EN PROCESO DE REVISIÓN-->
          hourglass_top
        </span>
        <p *ngIf="this.data.valor.aplicada == null" matTooltip="No aplica"><!--N/A-->
          N/A
        </p>
      </ng-container>
    </div>

    <!--|||||||||||||||||||||||||||||||||||||||||-->
  </div>
  <br>


  <!--///Documentos//////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <mat-divider></mat-divider>
  <mat-card>
  <ng-container>
    <mat-selection-list #shoes [multiple]="false">
      <div *ngIf="this.modeloArchivo.length>0" mat-subheader>Documento(s) adjunto(s) <span class="material-icons">
        attach_file
        </span></div>
      <div *ngIf="this.modeloArchivo.length==0" mat-subheader>Sin documentos adjuntos <span class="material-icons">
        attach_file
        </span></div>

      <mat-list *ngFor="let archivo of this.modeloArchivo">
        <!--<mat-list-option *ngFor="let archivo of this.modeloArchivo" [value]="archivo.llave">-->
        <div fxLayout="row">
        <div fxLayout="row" fxFlex="90">
          <p>
          <!--<mat-icon mat-list-icon>description</mat-icon>-->
          <a class="btn"
                  type="button"
                  mat-stroked-button
                  color="primary"
                  href="{{'https://sie.iest.edu.mx/archivos/partidasExtraOrdinarias/'+archivo.llave+'.'+archivo.extension+''}}"
                  download="{{archivo.nombreArchivo}}">
                  <span class="material-icons">cloud_download</span> Descargar</a>
          <!--<a target="" href="{{'https://sie.iest.edu.mx/descargaExterna/descargaPartidas/?arch='+archivo.llave+'&data=false'}}">{{archivo.nombreArchivo}}</a>-->
          {{archivo.nombreArchivo}}</p>
        </div>

        <div fxLayout="row" fxFlex="10">
          <!--<button type="button" mat-icon-button color="primary"><span class="material-icons">delete</span></button>-->
        </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-selection-list>
  </ng-container>
  </mat-card>
  <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <br><br>
  <div *ngIf="((this.data.valor.validaDirectorVicerrector == 0 || this.data.valor.validaDirectorVicerrector == null) && this.data.modulo == 'vicerrector') ||
  ((this.data.valor.validaDTI == 0 || this.data.valor.validaDTI == null) && this.data.modulo == 'DTI') ||
  ((this.data.valor.validaRectorDirAdmin == 0 || this.data.valor.validaRectorDirAdmin == null) && this.data.modulo == 'rector')"
  fxLayout="row" fxLayoutAlign="center" fxLayoutGap="35px">


    <button (click)="rechazar(this.data.valor.idRegistro)" type="button" mat-dialog-close="true" mat-flat-button color="primary" mat-button matTooltip="Rechazar solicitud">
      <span class="material-icons">
      thumb_down
      </span> Rechazar
    </button>

    <button (click)="guardar(this.data.valor.idRegistro)"  type="button" mat-dialog-close="true" matTooltip="Aprobar solicitud" mat-flat-button color="primary"><span class="material-icons">
      thumb_up
      </span> Aprobar</button>

  </div>
  <!--Mensaje de Solicitud-->

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="35px">
    <button *ngIf="this.data.modulo== 'compras'" (click)="imprimirReporte(this.data.valor.idRegistro)" type="button" mat-dialog-close="true" mat-flat-button color="primary" mat-button matTooltip="Imprimir">
      <span class="material-icons">
        print
      </span>
    </button>

    <button *ngIf="this.data.valor.mostrarBotonTerminar == 1 && this.data.modulo== 'compras' && this.data.valor.aplicada == 2" (click)="montoFinal()" type="button" mat-dialog-close="true" mat-flat-button color="primary" mat-button matTooltip="Terminar todo el proceso de la solicitud">
      <span class="material-icons">
        check
      </span> Terminar solicitud
    </button>

    <button *ngIf="this.data.valor.mostrarBotonTerminar == 1 && this.data.modulo== 'compras' && this.data.valor.aplicada == 0" (click)="validarCompras(this.data.valor.idRegistro)" type="button" mat-dialog-close="true" mat-flat-button color="primary" mat-button matTooltip="En proceso de concluir con la solicitud">
      <span class="material-icons">
        pause
      </span> Por concluir
    </button>
  </div>

</div>
</div>
