.container{
  padding-right: .5em;
  padding-left: .5em;
  padding-top: 2.5em;
  padding-bottom: .5em;
  background-color: #F6F7F9;
}

.containerIn{
  padding-right: 3.5em;
  padding-left: 3.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.file-input {
  display: none;
}
