<mat-toolbar color="primary">
Partidas extraordinarias
</mat-toolbar>
<div class="container">
<div fxLayout="column" fxLayoutAlign="center center">
<h1>Inicio</h1>
<button [routerLink]="['/nuevo']" type="button"  mat-flat-button color="primary" >
  <!--<mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>-->
  Nueva petición
</button>
<br>
<button [routerLink]="['/validaDirectorVicerrector']" type="button"  mat-flat-button color="primary">valida Director Vicerrector</button>
<br>
</div>

  <!--<div fxLayout="column">
    <div class="container-upload">
      <button    >
          SUBIR ARCHIVO
      </button>
      <input name="file" id="file" type="file" >
    </div>
  </div>-->

  <div fxLayout="column">
    <!-- Inicia tabla para mostrar los datos -->
    <tabla-dinamica
    [resultadosPartidasExtraordinarias]="resultadosPartidasExtraordinarias"
    [pageSizeOptions]="pageSizeOptions"
    [displayedColumns]="displayedColumnsGrupo"
    [tamanoTabla]="tamanoTabla" >
    </tabla-dinamica>
    <!-- Finaliza tabla -->
  </div>
</div>
